img{
  width: 354px;
  height: 256px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  color: white;
  padding: 1rem 1.5rem;
  .logo{
    display: flex;
    align-items: center;
    img{
      width: 95px;
      margin-right: 1.5rem;
    }
  }
  nav {
      a {
        text-decoration: none;
        color: white;
        padding: .75rem 1.25rem;
  
        &.active {
          font-weight: bolder;
          border-bottom: 4px solid cyan;
        }
      }
    }
}

main{
  min-height: calc(100vh - 80px);
}


footer{
  background-color: #242424;
  padding: 1rem 0;
  text-align: center;
  color: white;
}